.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 15px;
  color: white;
}

.listAll {
  background-color: rgb(252, 252, 252);
  margin-top: 5px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  font-size: 15px;
  color: black;
}

.searchBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.selectBox {
  width: 40%;
  margin: auto;
}

form {
  height: 36px;
  margin: auto;
  width: 40%;
}

.searchInput {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  height: 30px;
}

input {
  border-radius: 5px;
  width: 92%;
}

input[type="text"] {
  font-size:15px;
  padding-left: 2%;
}

input::placeholder {
  font-size: 15px;
  padding-left: 1%;
}

button {
  border-radius: 5px;
  background-color: rgba(75,192,192,1);
  color: white;
  font-weight: bold;
  width: 8%;
}


/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
